<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
</head>
<body>
	<h1 th:text="${title}"></h1>
	<form th:action="@{/form}" th:object="${user}" method="post">
	<div>
			<label for="identifier">Identifier</label>
			<div>
				<input type="text" id="identifier"  th:field="*{identifier}">
			</div>
			<div th:if="${#fields.hasErrors('identifier')}" 
			th:errors="*{identifier}"></div>
		</div>
		<div>
			<label for="name">Name</label>
			<div>
				<input type="text" id="name"  th:field="*{name}">
			</div>
			<div th:if="${#fields.hasErrors('name')}" 
			th:errors="*{name}"></div>
		</div>
		<div>
			<label for="pass">Password</label>
			<div>
				<input type="password" id="pass" th:field="*{pass}" >
			</div>
			<div th:if="${#fields.hasErrors('pass')}" 
			th:errors="*{pass}"></div>
		</div>
		<div>
			<label for="email">Email</label>
			<div>
				<input type="text" id="email"  th:field="*{email}">
			</div>
			<div th:if="${#fields.hasErrors('email')}" 
			th:errors="*{email}"></div>
		</div>
		<div>
			<label for="age">Age</label>
			<div>
				<input type="number" id="age"  th:field="*{age}">
			</div>
			<div th:if="${#fields.hasErrors('age')}" 
			th:errors="*{age}"></div>
		</div>
		<div>
			<label for="dateB">Birth Date</label>
			<div>
				<input type="date" id="dateB"  th:field="*{dateB}">
			</div>
			<div th:if="${#fields.hasErrors('dateB')}" 
			th:errors="*{dateB}"></div>
		</div>

		<div>

			<div>
				<input type="submit" value="Send">
			</div>
		</div>
	</form>

</body>
</html>