<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${title}"></title>
</head>
<body>
	<h1 th:text="${title}"></h1>
	<form th:action="@{/form}" th:object="${client}" method="post" enctype="multipart/form-data">
		<table>

		
					
			<tr>
				<td>Name</td>
				<td><input type="text" th:field="*{name}"/></td>
				<td><small th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small></td>
			</tr>
			
			<tr>
				<td>Surname</td>
				<td><input type="text" th:field="*{surname}" /></td>
				<td><small th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></small></td>
			</tr>
			<tr>
				<td>Email</td>
				<td><input type="email" th:field="*{email}" /></td>
				<td><small th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small></td>
			</tr>
			<tr>
			<tr>
				<td>Date</td>
				<td><input type="text" th:field="*{createdAt}" /></td>
				<td><small th:if="${#fields.hasErrors('createdAt')}" th:errors="*{createdAt}"></small></td>
			</tr>
			<tr>
				
				<td><input type="submit" value="Send" /></td>
			</tr>
			




		</table>
		
	</form>
</body>
</html>